<a href="https://colab.research.google.com/github/Kim-jy0819/Python-AI-Tutorial/blob/main/Lecture02/2%EA%B0%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python
- 인터프리터 언어 : 코드가 한 줄씩 순차적으로 실행됩니다.

<br>
※ 컴파일 언어 : 소스 코드를 컴파일하여 기계어로 변환한 후 실행합니다.(C, C++ 등)

<br><br>
학습할 내용

*   변수와 메모리
*   형변환
*   리스트란?

# 변수
* 데이터를 저장하기 위한 메모리 공간의 프로그래밍상 이름
* 변수 이름 = 값 (값을 저장할 때 '=' 기호를 사용)

In [ ]:
# 명령어 셀

a = 3
b = 5
a+b

8

## 변수 이름 사용 규칙
* 문자, 숫자, '_'만 포함
* 문자, '_'로만 시작
* 예약어(True, False, and, import, return, while, for 등)와 같은 이름 불가능
* 대문자와 소문자 구별

In [ ]:
a = 3
a2 = 2
a_3 = 4
print(a, a2, a_3) # 출력 함수 : print()

3 2 4

In [ ]:
3_a = 2
3_a

SyntaxError: invalid decimal literal (<ipython-input-3-51d3bb1df549>, line 1)

In [ ]:
while = 3
while

SyntaxError: invalid syntax (<ipython-input-4-7a08d874e9ec>, line 1)

In [ ]:
b = 1
B = 2
print(b, B)

1 2

# 생각해보기

### ```fruit = 'banana'```의 의미는?



1. fruit의 이름은 banana이다.
2. fruit는 banana이다.
3. fruit와 banana는 같다.
4. fruit에 banana를 넣어라

# 메모리

프로그래밍에서 변수는 값을 저장하는 장소입니다. 다음과 같은 수학식 $  x+3 y=5 $ 에서 사용되는 x, y 변수와는 다른 개념입니다.
변수는 메모리 주소를 가지고 있고, 변수에 들어가는 값은 메모리 주소에 할당됩니다.


![image.png]()

변수는 프로그램에서 사용하기 위한 특정한 값을 저장하는 공간으로 선언되는 순간 메모리 특정 영역에 물리적인 공간이 할당됩니다. a=1은 a는 1과 같다는 의미가 아니고 a라는 이름을 가진 메모리 주소에 1을 할당하라는 의미입니다.

# 파이썬의 간단한 연산
1. 기본 자료형
2. 연산자
3. 데이터 형변환

## 기본 자료형
* 수치자료형 : 정수형(integer), 실수형(float)      
```
정수형 : 1, -5, 100, 9999
실수형 : 1.3, -3.8, 88.9
```
* 문자형 : 문자형(string)
```
문자형 : 'abcd', 'hello, python3.10!', '코딩은 즐거워~' # 따옴표 안에 들어있는 문자
```
* 논리/boolean 자료형
```
불린형 : True, False
```

In [ ]:
a = 1 # Integer
b = 1 # Integer
print (a, b)

1 1

In [ ]:
a = 1.5 # Float
b = 3.5 # Float
print (a, b)

1.5 3.5

In [ ]:
a = "ABC" # String
b = "101010" # String
c = '♥'
print (a, b, c)

ABC 101010 ♥

In [ ]:
a = True # Boolean 대소문자 구분
b = False # Boolean 대소문자 구분
print (a, b)

True False

## 연산자

### +, -, \*, /, \*\*, //, %
위에 있는 기호들을 연산자라고 합니다. 앞에 있는 4개의 연산자는 사칙연산으로 알려져 있는 연산자입니다. 뒤에 있는 기호들이 어떤 것인지 알아보겠습니다.

```
**: 제곱
//: 몫
% : 나머지
```

In [ ]:
print (3 * 3 * 3 * 3 * 3) # 3을 다섯 번 곱함
print (3 ** 5) # 3의 5승

243
243

In [ ]:
print (7 / 2)  # 7 나누기 2
print (7 // 2) # 7 나누기 2 몫
print (7 % 2)  # 7 나누기 2의 나머지는

3.5
3
1

### 증가 또는 감소 연산
* a = a + 1은 a += 1 로 증가연산을 써서 간단하게 표현할 수 있다.
* a = a - 1은 a -= 1 로 감소연산을 써서 간단하게 표현할 수 있다.

In [ ]:
a = 1     # 변수 a 에 1을 할당
a = a + 1 # a 에 1를 더한 후 그 값을 a에 할당
print (a) # a 출력

2

In [ ]:
a += 1    # a 증가 연산
print (a) # a 출력

3

In [ ]:
a = a - 1  # a 에 1를 뺀 후 그 값을 a에 할당
a -= 1     # a 감소 연산
print(a)  # a 출력

1

## 데이터 형 변환 : 정수형 <-> 실수형
### int(), float()를 사용하여 형변환이 가능하다.

In [ ]:
a = 10 # a 변수에 정수 데이터 10을 할당
print (a) # a가 정수형으로 출력

10

In [ ]:
a = float(a) # a를 실수형으로 변환 / 정수형은 int()
print (a)     # a가 실수형으로 출력됨

10.0

In [ ]:
b = 3 # b 에 정수 데이터 3 할당
print (a / b) # 실수형으로 a 나누기 b를 출력, 실수형 결과값 출력

3.3333333333333335

# 생각해보기

### 1.5와 1.7을 정수형으로 변환한 후 뺄셈하면 어떤 결과가 나올까요?

In [ ]:
# 이곳에 답안을 작성해보세요!

0

## 데이터 형 변환 : 숫자 <-> 문자열
### str(), int(), float()를 사용하여 형변환이 가능하다.

In [ ]:
a = '76.3'   # a에 문자열 76.3을 할당, ''은 문자열을 의미
b = float(a) # a를 실수형으로 형 변환 후 b에 할당
print (a)    # a값 출력

76.3

In [ ]:
print (b)     # b 값 출력
print (a + b) # a와 b를 더함 그러나 문자열과 숫자열의

76.3

TypeError: can only concatenate str (not "float") to str

### 데이터의 형을 맞춰야 연산을 할 수 있다!
* 문자열은 문자열끼리
* 숫자는 숫자끼리!

In [ ]:
a = float(a)  # a를 실수형으로 형 변환 후 a에 할당
b = a         # 실수형 a 값을 b에 할당
print (a + b) # 두 실수형 더한 후 출력

152.6

In [ ]:
a = str(a)    # 실수형 a 값 문자열로 변환 후 a 할당
b = str(b)    # 실수형 b 값을 문자열로 변환 후 b 할당
print (a + b) # 두 값을 더한 후 출력
              # 문자열간 덧셈은 문자열간 단순 연결

76.376.3

In [ ]:
a=int(10.3) # a는 정수형으로 10.3을 할당
b=float(10.3) # b는 실수형으로 10.3을 할당
c=str(10.3) # c는 문자열으로 10.3을 할당
type(a) # a의 타입을 출력

int

In [ ]:
type(b) # b의 타입을 출력

float

In [ ]:
type(c) # c의 타입을 출력

str

### [생각해보기] 데이터의 개수가 100개가 있다면 변수를 100개를 선언해야 할까?

# 리스트란(list)?
* 순서가 있는 요소들의 집합
* 요소들을 수정, 삭제, 추가 가능
* 대괄호([]) 안에 요소들을 ','로 구분하여 저장
* int, float 같은 다양한 데이터 타입 포함

### 인덱싱(indexing) : 해당 위치의 데이터를 추출

In [ ]:
colors = ['red', 'blue', 'green']
print (colors[0]) # red
print (colors[2]) # green
print (len(colors)) # 3
# len은 list의 길이를 반환

red
green
3

### 슬라이싱(slicing) : 해당 구간의 데이터를 추출

In [ ]:
cities = ['서울', '부산', '인천', '대구', '대전', '광주', '울산', '수원']
print (cities[0:6], " AND ", cities[-2:]) # a 변수의 0부터 5까지, -8부터 끝까지
print (cities[:]) # a변수의 처음부터 끝까지
print (cities[-50:50]) # 범위를 넘어갈 경우 자동으로 최대 범위를 지정
print (cities[::2], " AND ", cities[::-1]) # 2칸 단위로, 역으로 슬라이싱

['서울', '부산', '인천', '대구', '대전', '광주']  AND  ['울산', '수원']
['서울', '부산', '인천', '대구', '대전', '광주', '울산', '수원']
['서울', '부산', '인천', '대구', '대전', '광주', '울산', '수원']
['서울', '인천', '대전', '울산']  AND  ['수원', '울산', '광주', '대전', '대구', '인천', '부산', '서울']

### 리스트의 연산

In [ ]:
color = ['red', 'blue', 'green']
color2 = ['orange', 'black', 'white']
print(color + color2) # 두 리스트 합치기
len(color) # 리스트 길이

['red', 'blue', 'green', 'orange', 'black', 'white']

3

In [ ]:
color[0] = 'yellow' # 0번째 리스트의 값을 변경
print (color * 2) # color 리스트 2회 반복
'blue' in color2 # 문자열 ‘blue‘가 color2 존재 여부 반환

['yellow', 'blue', 'green', 'yellow', 'blue', 'green']

False

In [ ]:
total_color = color + color2
total_color

['yellow', 'blue', 'green', 'orange', 'black', 'white']

### 추가와 삭제

In [ ]:
print(color)
color.append("white") # 리스트에 “white” 추가
print(color)
color.extend(["black","purple"]) # 리스트에 새로운 리스트 추가
print(color)
color.insert(0,"orange") # 0번째 주소에 “orange” 추가
print (color)
color.remove("white") # 리스트에 “white” 삭제
print(color)
del color[0] # 0번째 주소 리스트 객체 삭제
print (color)

['yellow', 'blue', 'green']
['yellow', 'blue', 'green', 'white']
['yellow', 'blue', 'green', 'white', 'black', 'purple']
['orange', 'yellow', 'blue', 'green', 'white', 'black', 'purple']
['yellow', 'blue', 'green', 'black', 'purple']

In [ ]:
a = ["color", 1, 0.2]
color = ['yellow', 'blue', 'green', 'black', 'purple']
a[0] = color # 리스트 안에 리스트도 입력 가능
print (a)

[['yellow', 'blue', 'green', 'black', 'purple'], 1, 0.2]

### 메모리 저장 방식

- call by value : 값을 복사
- call by ref : 주소를 복사

In [ ]:
# Step 1: 초기 상태 (서로 다른 리스트를 참조)
a = [5, 4, 3, 2, 1]
b = [1, 2, 3, 4, 5]

# Step 2: b = a로 인해 동일 객체를 참조 (Call by Reference처럼 동작)
b = a
print(b)  # [5, 4, 3, 2, 1]

# Step 3: a.sort()로 객체 수정 (a, b 모두 영향을 받음)
a.sort()  # a와 b가 같은 객체를 참조하므로, b도 [1, 2, 3, 4, 5]로 변경
print(b)  # [1, 2, 3, 4, 5]

# Step 4: b가 새로운 리스트 객체를 참조 (Call by Value처럼 동작)
b = [6, 7, 8, 9, 10]  # b가 새로운 객체를 참조
print(a, b)  # a = [1, 2, 3, 4, 5], b = [6, 7, 8, 9, 10]

[5, 4, 3, 2, 1]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5] [6, 7, 8, 9, 10]

### 패킹, 언패킹

In [ ]:
t = [1, 2, 3] # 1,2,3을 변수 t에 패킹
a , b , c = t # t에 있는 값 1, 2, 3 을 변수 a, b, c에 언패킹
print(t, a, b, c) # [1, 2, 3] 1 2 3

[1, 2, 3] 1 2 3

### 2차원 리스트

In [ ]:
kor_score = [49,79,20,100,80]
math_score = [43,59,85,30, 90]
eng_score = [49,79,48,60,100]
midterm_score = [kor_score, math_score, eng_score]
print (midterm_score[2][3])

60

# 실전 문제

#### 문제 1) 형이 집에서 학교를 향해 초속 0.87m로 걸어간 지 13분 후에 집에 두고 온 물건이 생각나 다시 집으로 분속 100m로 돌아갔다. 형이 집으로 되돌아오는 동안 걸린 시간(분)과 이동한 거리를 구하세요.

조건
1. 정답은 정수형으로 구하세요! ex) 3.3분(x) ->  3분 / 90.64m -> 90m
2. 속도와 시간을 변수를 선언해서 저장하세요!

* 이동거리 : 물체가 이동한 총 거리
* 이동시간 : 물체가 이동하는데 걸린 시간
* 속력 : 물체의 빠르기, 1초동안 이동거리(m/s)
* 이동시간 = 이동거리 / 속력

In [ ]:
# 1번의 풀이과정을 여기에 쓰세요!

# =============
# Code
# =============

6.24

#### 문제 2-1) 369 게임은 뒷부분이 3, 6, 9로 숫자가 끝날 때 말하지 않고 박수를 치는 게임입니다. 다음과 같은 리스트가 있을 때, 369로 숫자가 끝나게 될 경우 문자열 '짝'으로 대체하세요!

조건
1. 인덱싱을 사용하세요!

예상 결과
```
# 초기화
triple_game = [1,2,3,4,5,6,7,8,9,10]

# ==========
# 프로그램 실행
# ==========

# 결과 출력
print(triple_game)

-> [1,2,'짝',4,5,'짝',7,8,'짝',10]
```

In [ ]:
# 2-1번의 풀이과정을 여기에 쓰세요!
triple_game = [1,2,3,4,5,6,7,8,9,10]

# =============
# Code

# =============

print(triple_game)

#### 문제 2-2) 위의 리스트에는 10까지 저장되어 있습니다. 리스트의 끝부분에 11~15의 수를 추가하여 369로 숫자가 끝나게 될 경우 문자열 '짝'으로 대체하세요!

조건
1. append 혹은 extend 함수를 사용하세요!

예상 결과
```
triple_game = [1,2,'짝',4,5,'짝',7,8,'짝',10]

# ==========
# 프로그램 실행
# ==========

# 결과 출력
print(triple_game)
-> [1,2,'짝',4,5,'짝',7,8,'짝',10,11,12,'짝',14,15]
```

In [ ]:
# 2-2번의 풀이과정을 여기에 쓰세요!
triple_game = [1,2,'짝',4,5,'짝',7,8,'짝',10]

# =============
# Code

# =============

print(triple_game)

#### 문제 3) 문자열은 실수형으로, 실수형은 정수형으로, 정수형은 문자열로 바꾸어서 result에 저장하세요!

조건
1. float(), int(), str() 함수를 사용하세요!

예상 결과
```
list_test = ['33', 333.33, 33, '333.33']

# ==========
# 프로그램 실행
# ==========

print(result)
-> [33.0, 333, '33',333.33]
```

In [ ]:
# 3번의 풀이과정을 여기에 쓰세요!
list_test = ['33', 333.33, 33, '333.33']

# =============
# Code
result =
# =============

print(result)

#### 문제 4) 리스트에 있는 데이터 중 'l','o','v','e',' ', 'p','y','t','h','o','n'을 따로 result에 저장하세요!

조건
1. 슬라이싱을 사용하세요!

예상 결과
```
list_ex = ['I', ' ', 'l', 'o', 'v', 'e', ' ', 'p', 'y', 't', 'h', 'o', 'n', ' ', 'v', 'e', 'r', 'y', ' ', 'v', 'e', 'r', 'y', ' ', 'm', 'u', 'c', 'h', '.']

# ==========
# 프로그램 실행
# ==========

print(result)
-> ['l','o','v','e',' ', 'p','y','t','h','o','n']
```

In [ ]:
# 4번의 풀이과정을 여기에 쓰세요!
list_ex = ['I', ' ', 'l', 'o', 'v', 'e', ' ', 'p', 'y', 't', 'h', 'o', 'n', ' ', 'v', 'e', 'r', 'y', ' ', 'v', 'e', 'r', 'y', ' ', 'm', 'u', 'c', 'h', '.']

# =============
# Code
result =
# =============

print(result)